  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  * { font-family: "Montserrat" }

  .back {
      background-color: #BF5528;
      color: #fff;
      border: none;
      padding: 5px 20px;
      margin-top: 10px;
  }

  .back:hover {
      background-color: #c56b44;
  }

  .warehouse-greeting {
    font-size: 23px!important;
  }

  /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
  @media (min-width: 1281px) {
    .warehouse-greeting {
      font-size: 23px!important;
    }
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .warehouse-greeting {
      font-size: 23px!important;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */  
  @media (min-width: 768px) and (max-width: 1024px) {
    .warehouse-greeting {
      font-size: 14px!important;
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */  
  @media (min-width: 481px) and (max-width: 767px) {
    .warehouse-greeting {
      font-size: 14px!important;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */  
  @media (min-width: 320px) and (max-width: 480px) {
    .warehouse-greeting {
      font-size: 14px!important;
    }
  }